/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* site colour palette */
:root {
    --blue: #8acdeabb;
    --yellow: #fcf300;
    --black: #2f4858;
    --white: #e5d0e3;
}

/* generic style reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* add your own style rules here */
body {
    background-color: var(--white);
    font-family: "Oswald", Arial, serif;
}

header {
    padding: 20px;
    text-align: center;
    background: var(--yellow);
    color: var(--black);
    font-size: 20px;
}

header img {
    width: 10%;
    height: auto;
}

header li {
    display: inline-block;
    color: var(--black);
    font-size: 20px;
    padding: 0px 25px;
}

header a {
    text-decoration: none;
    color: var(--black)
}

footer {
    padding: 20px;
    text-align: center;
    background: var(--yellow);
    color: var(--black);
    font-size: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-position: top;
}

.overlay-title {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
    color: var(--yellow);
    font-weight: bold;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    scale: 5;
}
  
.activities {
    text-align: center;
    font-size: 25px;
}

.activities h2 {
    padding: 25px;
}

.slideshow-container {
    max-width: 1300px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none; 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--black);
}

.button {
    background-color: var(--blue);
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;    
}

.button:hover {
    text-decoration: underline;
    background-color: var(--yellow);
}

.button a {
    color: var(--black);
    text-decoration: none;
}

.numbertext {
    color: var(--white);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--black);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--yellow);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* css for other jump pages */
.overlay-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    color: var(--black);
    background-color: var(--white);
    outline: 4px solid;
    width: 40%;
}

.jump-information {
    padding: 20px;
    background-color: var(--blue);
}

.jump-information h2 {
    font-size: 35px;
    text-decoration: underline;
}

.jump-information p {
    font-size: 20px;
    padding-top: 10px;
}

.jump-information button {
    background-color: var(--white);
    border: 5px solid;
    color: var(--black);
    padding: 16px 16px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 40px;
    box-shadow: 0 3px var(--black);
  }

  .jump-information button:hover {background-color: var(--yellow)}

  .jump-information button:active {
    background-color: var(--white);
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }