/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* site colour palette */
:root {
    --blue: #8acdeabb;
    --yellow: #fcf300;
    --black: #2f4858;
    --white: #e5d0e3;
}

/* generic style reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* add your own style rules here */
body {
    background-color: var(--white);
    font-family: "Oswald", Arial, serif;
    margin-top: 10vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    padding: 20px;
    text-align: center;
    background: var(--yellow);
    color: var(--black);
}

header img {
    width: auto;
    height: 5vh;
}

header li {
    display: inline-block;
    color: var(--black);
    font-size: 1.5rem;
    padding: 0px 1%;
}

header a {
    text-decoration: none;
    color: var(--black);
}

footer {
    padding: 20px;
    text-align: center;
    background: var(--yellow);
    color: var(--black);
    font-size: 1.5em;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: auto;
}

.image-container img {
    display: block;
    width: 100vw;
    height: auto;
    object-position: top;
}

.overlay-title {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5em;
    color: var(--yellow);
    font-weight: bold;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    scale: 5;
}

.activities {
    text-align: center;
    font-size: 1.5em;
}

.activities h2 {
    padding: 25px;
}

.slideshow-container {
    max-width: 60vw;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none; 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white);
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--black);
}

.button {
    background-color: var(--blue);
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;    
}

.button:hover {
    text-decoration: underline;
    background-color: var(--yellow);
}

.button a {
    color: var(--black);
    text-decoration: none;
}

.numbertext {
    color: var(--white);
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 2px;
    background-color: var(--black);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--yellow);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* css for other jump pages */
.overlay-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1em;
    color: var(--black);
    background-color: var(--white);
    outline: 4px solid;
    width: 50%;
}

.jump-information {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
    background-color: var(--blue);
    text-align: center;
}

.jump-information h2 {
    font-size: 35px;
    text-decoration: underline;
}

.jump-information p {
    font-size: 20px;
    padding-top: 10px;
}

.jump-information button {
    background-color: var(--white);
    border: 5px solid;
    color: var(--black);
    padding: 16px 16px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 40px;
    box-shadow: 0 3px var(--black);
}

.jump-information button:hover {
    background-color: var(--yellow)
}

.jump-information button:active {
    background-color: var(--white);
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

.gallery-container {
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    padding: 20px;
    width: 100%;
    gap: 50px;
}

.gallery {
    flex: 1 1 350px;
    max-width: 350px;
    text-align: center;
}

.gallery:hover {
    transform: scale(1.05);
    border: 2px solid var(--black);
}

.gallery img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}

.gallery .desc{
    padding: 15px;
    text-align: center;
}

/* media query for 720px */
@media (max-width: 720px) {
    header img {
        height: 4vh;
    }

    header li {
        font-size: 1.2rem;
        padding: 0px 2%;
    }

    .down {
        scale: 3;
    }

    .slideshow-container {
        max-width: 90vw;
    }

    .button {
        font-size: 25px;
        padding: 10px;
    }

    .gallery-container {
        gap: 20px;
    }

    .gallery {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .overlay-title {
        font-size: 3.5em;
    }

    .overlay-text {
        width: 80%;
        font-size: 0.6em;
    }

    footer {
        font-size: 1.2em;
    }

    .activities {
        font-size: 1.2em;
    }
}

/* media query for 480px */
@media (max-width: 480px) {
    header img {
        height: 4vh;
    }

    header li {
        font-size: 0.7rem;
        padding: 0px 1%;
    }

    .down {
        scale: 2;   
    }

    .slideshow-container {
        max-width: 70vw;
    }

    .button {
        font-size: 20px;
        padding: 10px;
    }

    .gallery-container {
        gap: 15px;
    }

    .gallery {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .overlay-title {
        font-size: 2em;
    }

    .overlay-text {
        width: 80%;
        font-size: 0.4em;
    }

    footer {
        font-size: 1em;
    }

    .activities {
        font-size: 1.2em;
    }
}